<%= form_for @post2 do |f| %>
    <div class="form-group">
      <%= f.label :title, "Tytuł" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <%= f.submit "Dodaj wpis", class: "btn btn-primary" %>
<% end %>