<p class="lead">
  Witaj w naszej ksiedze gosci!
  <%= link_to "Dodaj wlsny wpis juz teraz", new_post_path %>
</p>

<% @posts.each do |post| %>
    <blockquote>
      <p><%= post.body %></p>
      <foother><cite><%= post.author %></cite></foother>
    </blockquote>
<% end %>


<h4>
  <%= link_to "Phone", phones_path %>
</h4>