<h2>Dodawanie nowego wpisu</h2>

  <%= simple_form_for @post do |f| %>
      <%= f.input :author, hint: "Podaj swoje imie" %>
      <%= f.input :body, label: "Tresc", hint: "Tresc posta" %>
      <%= f.submit class: "btn btn-defalut" %>
  <% end %>

